[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "aRtsy"]
	path = aRtsy
	url = https://github.com/koenderks/artsy
[submodule "digitTests"]
	path = digitTests
	url = https://github.com/koenderks/digittests
[submodule "jfa"]
	path = jfa
	url = https://github.com/koenderks/jfa
